<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/47ff173283.js" crossorigin="anonymous"></script>
<link href="/style/footer.css" rel="stylesheet">
<title>Insert title here</title>
</head>



<footer th:fragment="footer" class="page-footer font-small mdb-color darken-3 pt-4">

        <div class="footer">

        <div class="smedia">
          <ul>

            <li>
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-facebook-f"></i>
            </li>

            <li>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-instagram"></i>
            </li>

            <li>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-twitter"></i>
            </li>

            <li>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-linkedin-in"></i>
            </li>

          </ul>
        </div>

        <div class="copyright">© 2020 WILD CIRCUS </div>

      </div>



</footer>
</html>